[submodule "examples/odyssey/sources"]
	path = examples/odyssey/sources
	url = https://github.com/slipboxmd/examples-odyssey.git
[submodule "examples/ai/sources"]
	path = examples/ai/sources
	url = https://github.com/slipboxmd/examples-ai.git
