[submodule "examples/odyssey"]
	path = examples/odyssey
	url = https://github.com/slipboxmd/example-odyssey.git
[submodule "examples/ai"]
	path = examples/ai
	url = https://github.com/slipboxmd/example-ai.git
[submodule "examples/sv-titans"]
	path = examples/sv-titans
	url = https://github.com/slipboxmd/example-sv-titans.git
