[submodule "examples/odyssey/sources"]
	path = examples/odyssey/sources
	url = https://github.com/slipboxmd/example-odyssey.git
[submodule "examples/ai/sources"]
	path = examples/ai/sources
	url = https://github.com/slipboxmd/example-ai.git
[submodule "examples/sv-titans/sources"]
	path = examples/sv-titans/sources
	url = https://github.com/slipboxmd/example-sv-titans.git
